.report-container{

    width:90%;

    margin:30px auto 60px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.report-container h2{

    color:#1e3a8a;

    margin-bottom:20px;

}

.report-card{

    background:#f8fafc;

    border-left:6px solid #2563eb;

    padding:25px;

    border-radius:10px;

    line-height:1.8;

    font-size:17px;

    color:#374151;

}