*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f7fb;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.navbar{

    width:100%;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);

    color:white;

    padding:18px 0;

    box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.navbar-container{

    width:90%;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo-section{

    display:flex;

    align-items:center;

    gap:18px;

}

.logo-circle{

    width:65px;

    height:65px;

    border-radius:50%;

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:32px;

}

.logo-section h1{

    font-size:28px;

    font-weight:700;

}

.logo-section p{

    margin-top:5px;

    color:#cbd5e1;

    font-size:15px;

}

.status{

    background:#16a34a;

    padding:10px 18px;

    border-radius:25px;

    display:flex;

    align-items:center;

    gap:10px;

    font-weight:600;

}

.status-dot{

    width:10px;

    height:10px;

    border-radius:50%;

    background:white;

}

@media(max-width:768px){

.navbar-container{

flex-direction:column;

gap:20px;

text-align:center;

}

.logo-section{

flex-direction:column;

}

.logo-section h1{

font-size:22px;

}

}